<div class="container">
  <h1>Time to list a new buddy</h1>
  <br>
  <br>
    <div class="form">
      <%= simple_form_for @buddy do |f| %>
      <div class="form_wrapper">
        <div class="form_div">
          <h3>The Basics:</h3>
          <%= f.input :name  %>
          <%= f.input :rate %>
          <%= f.input :location  %>
          <%= f.input :url,  label: "Link to profile picture" %>
          <%= f.input :buddy_type, label: "What kind of buddy are you?", :collection => %w[Dog Cat Human Object Other] %>
        </div>
        <div class="form_div">
          <h3>Why is your buddy is the best:</h3>
          <%= f.input :skills  %>
          <%= f.input :description %>
          <%= f.input :activities  %>
          <br>
          <br>
          <%= f.button :submit, :class => "btn btn-primary" %>
          <%= link_to 'Back', buddies_path, :class => "btn btn-info" %>
        </div>
            <div class="pic_of_doggo">
      <%= image_tag "Doggo.png" %>
    </div>
      </div>
      <% end %>


  </div>
</div>
<br>
