<div class="buddy_banner">
  <div class="container">
    <div class="image_and_text">
      <div class="section">
        <img src=<%= @buddy.url %>>
      </div>
      <div class="section">
          <h1>Hello! My name is <%= @buddy.name %></h1>
          <h2>I'm so excited to be your new best buddy!</h2>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="buddy-info">
      <p><strong>Buddy Type: </strong><%= @buddy.buddy_type %><p>
      <p><strong>Skills:</strong><%= @buddy.skills %><p>
      <p><strong>Description: </strong><%= @buddy.description %><p>
      <p><strong>Activities: </strong><%= @buddy.activities %><p>
      <p><strong>Rate: </strong><%= @buddy.rate %><p>
      <div class="buddy-buttons">
        <%= link_to 'Book me', new_buddy_booking_path(@buddy), :class => "btn btn-primary" %>
        <%= link_to 'Edit Buddy', edit_buddy_path, :class => "btn btn-primary" %>
        <%= link_to 'Delete', buddy_path(@buddy), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-primary"  %>
      </div>

    </div>
    <div style="width: 70%; height: auto; border-radius: 10px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
<br>
<div class="container">
<br>
<br>
<h2> These are all <%= @buddy.name.capitalize %>'s accepted bookings! </h2>
<p> <%= @buddy.name.capitalize %> also has
    <% counter = 0 %>
    <% Booking.where("buddy_id = ?", @buddy.id).each do |booking| %>
    <% booking.status == "pending" ? counter =+ 1 : counter %>
    <% end %>
    <strong> <%= counter %> </strong>
    pending requests! </p>
 <% Booking.where("buddy_id = ?", @buddy.id).each do |booking|%>
    <% if booking.status == "Accepted" %>
    <p> <strong>Booking Duration: </strong>
          <strong>Start date: </strong> <%= booking.start_date %>
          <strong>End date: </strong> <%= booking.start_date %> </p>
      <%end%>
    <% end %>
</div>
