<div class="buddy_banner">
  <div class="container">
    <div class="image_and_text">
      <div class="section">
        <img src=<%= @buddy.url %>>
      </div>
      <div class="section">
          <h1>Hello! My name is <%= @buddy.name %></h1>
          <h2>I'm so excited to be your new best buddy!</h2>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="d-flex justify-content-between">
    <div class="buddy-info">
      <p><strong>Buddy Type: </strong><%= @buddy.buddy_type %><p>
      <p><strong>Skills:</strong><%= @buddy.skills %><p>
      <p><strong>Description: </strong><%= @buddy.description %><p>
      <p><strong>Activities: </strong><%= @buddy.activities %><p>
      <p><strong>Rate: </strong>$<%= @buddy.rate %> /per day<p>
      <div class="buddy-buttons">
        <%= link_to 'Book me', new_buddy_booking_path(@buddy), :class => "btn btn-primary" %>
        <%= link_to 'Edit Buddy', edit_buddy_path, :class => "btn btn-info" %>
        <%= link_to 'Delete', buddy_path(@buddy), method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-info"  %>
      </div>

    </div>
    <div style="width: 70%; height: auto; border-radius: 10px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @marker.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

</div>
<br>
<div class="container">
  <div class="d-flex ">
    <div class="buddy-bookings me-5">
      <h2> <%= @buddy.name.capitalize %>'s booking history! </h2>
      <p> <%= @buddy.name.capitalize %> also has
      <% counter = 0 %>
      <% @buddy.bookings.each do |booking| %>
      <% booking.status == "pending" ? counter =+ 1 : counter %>
      <% end %>
      <strong> <%= counter %> </strong>
      pending requests! </p>
      <% @buddy.bookings.each do |booking|%>
      <% if booking.status == "Accepted" %>
      <p> <strong><%= link_to "Booking Duration:", booking, :class => "stretched-link" %> </strong>
            <strong>Start date: </strong> <%= booking.start_date %>
            <strong>End date: </strong> <%= booking.start_date %> </p>
        <%end%>
      <% end %>
    </div>
    <div class="buddy-reviews ms-5">
      <h2>Reviews for <%= @buddy.name.capitalize %></h2>
      <% if @buddy.reviews.present? %>
        <% @buddy.reviews.each do |review|  %>
          <p><%= "â­" * review.rating %></p>
          <% if review.comment.present? %>
          <p><%= review.comment %></p>
          <% else %>
            No comment for this review
          <% end %>
      <% end %>
      <% else  %>
        <p>There are no reviews for this buddy.</p>
      <% end %>
    </div>
  </div>

</div>
