<div class="container">
  <div class="form">
    <h3>add booking for  <%= @buddy.name %> </h3>
      <%= simple_form_for [@buddy, @booking] do |f| %>
      <%= f.input :start_date, placeholder: 'Enter a start date' %>
      <%= f.input :end_date, placeholder: 'Enter a end date' %>
      <%= f.button :submit, :class => "btn btn-primary" %>
      <% end %>
  </div>
  <%= link_to 'Back to Buddy page', buddy_path(@buddy), :class => "btn btn-primary" %>
</div>
