<div class="container">
  <div class="d-flex">
    <div class="booking-details">
      <h1>Booking Details </h1>
      <h3>Buddy: <%= link_to @booking.buddy.name, buddy_path(@booking.buddy_id)%></h3>
      <h3>Booking start: <%= @booking.start_date %></h3>
      <h3>Booking end: <%= @booking.end_date %></h3>
      <h3>Cost: $<%= @booking.buddy.rate * (@booking.end_date - @booking.start_date).to_i %></h3>
      <% if @booking.status == "pending" %>
        <p> your booking is pending, awaiting <%= @booking.buddy.name %>'s approval</p>
      <% elsif @booking.status == "Accepted" %>
        <p> your booking has been accepted</p>
      <% else %>
        <p>your booking has been declined</p>
      <% end %>
      <%= link_to 'Edit Booking', edit_booking_path(@booking), :class => "btn btn-primary"%>
      <%= link_to "Back to Bookings", my_bookings_path, :class => "btn btn-primary" %>
    </div>
    <div class="buddy-reviews ms-5">
      <h2>Your review for this booking</h2>
      <% if @booking.reviews.present? %>
        <% @booking.reviews.each do |review|  %>
          <p><%= "â­" * review.rating %></p>
          <% if review.comment.present? %>
          <p><%= review.comment %></p>
          <% else %>
            No comment for this review
          <% end %>
      <% end %>
      <% else  %>
        <p>You have not left a review</p>
        <%= link_to "Leave review", new_booking_review_path(@booking) , :class => "btn btn-primary"  %>
      <% end %>
    </div>
  </div>
</div>
