<div class="px-3 border-bottom navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="logo_and_tag">
        <div class="logo">
          <%= image_tag "logo.png" %>
        </div>
        <div class="title_and_tag_line">
          <h1> airbud </h1>
          <p> Find the perfect buddy for you! </p>
        </div>
      </div>
    <% end %>

  <div class="d-flex justify-content-around">
    <div>
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a bud"
      %>
    </div>
    <div>
      <%= submit_tag "Search", class: "btn btn-primary rounded .ml-5" %>
      <% end %>
    </div>
  </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "List a Buddy", new_buddy_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Listings", my_listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Bookings", my_bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "raggy.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
