<div class="container">
  <h1>My Listings</h1>
  <p>These are all the buddies you have listed!</p>

    <% @user_buddies.each do |user_buddy| %>
    <div class="card justify-content-start align-items-start bg-transparent border-0 my-4" >
      <div class="row g-0">
      <div class="col">
        <h2> <%= link_to user_buddy.name, user_buddy, :class => "text-decoration-none" %> </h2>
        <img src= <%= user_buddy.url %> class="buddy-img img-fluid rounded-start" alt="" style="width: 250px; height: 200px;">
      </div>
      <% user_buddy.bookings.each do |booking|%>
        <div class="col">
          <div class="card-body">
            <p> <strong>Booking: </strong> </p>
            <p> <strong>Start date: </strong> <%= booking.start_date %> </p>
            <p> <strong>End date: </strong> <%= booking.start_date %> </p>
            <p>  <strong>status: </strong> <%= booking.status  %></p>
            <% if booking.status == "pending" %>
            <%= link_to 'Accept?', accept_booking_path(booking), method: :patch, data: { confirm: "Are you sure?" }, :class => "btn btn-primary" %>
            <%= link_to 'Decline?', decline_booking_path(booking), method: :patch, data: { confirm: "Are you sure?" }, :class => "btn btn-info" %>
            <% elsif booking.status == "Accepted" %>
            <%= link_to 'Cancel?', cancel_booking_path(booking), method: :patch, data: { confirm: "Are you sure?" }, :class => "btn btn-info" %>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <% end %>
</div>
